<div class = "pog-solo">
	<img class="pog-img" src="<%= @pog.img_url %>"/>

	<h1>"<%= @pog.name %>"</h1>
	<h2>-DESCRIPTION-</h2>
	<span class="solo-text"><%= @pog.description %></span>
	<h2>-CREATOR-</h2>
	<span class="solo-text"><%= @creator.name %></span>
</div>