<% if logged_in? %>
	<div class="page-top">
		<a href="/pogs/new">Create a New Pog</a>
		<span id="separator">||</span>
		<a href="/games/new">Play a New Game</a>
	</div>
<% end %>

<h3>Trending</h3>
<div class="pog-profile">
	<% @pogs.each do |pog| %>
		<a href="pogs/<%= pog.id %>"><img class="pog-img" src="<%= pog.img_url %>"></a>
	<% end %>
</div>